
h1{
	color: whitesmoke;
	text-align: center;
	background-color: rosybrown;
	border-style: dotted;
	border-width: thick;
	border-color: beige;
}

body{
	background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ8NDQ0NFREWFhURFRUYHSggGBoxGxUTITEhJSkrLjouFx8zODM4NygtLisBCgoKDQ0NDg0NDisZFRkrKysrKysrKysrKysrKysrKysrKystKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIAOEA4QMBIgACEQEDEQH/xAAWAAEBAQAAAAAAAAAAAAAAAAAAAQf/xAAWEAEBAQAAAAAAAAAAAAAAAAAAEQH/xAAXAQEAAwAAAAAAAAAAAAAAAAAAAQME/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8A2QBQ0AAAAAAAAAAAAAAAAAAAAAKCCoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACoAAqAAAAAAAAAAAAAAAAAAAKgAAAAAAAAAAAAAAAAAAAAACggAAAAAAAAAAUABQQAAAAAAAAABUAVAAVAAAFQUEFQAAAAFRUAAAAAAAAAAAAAAAAAVAAABUAAAAAAAAAAAAAAAAABUAAAAAABUAAAAVAFEAAAAAABUAAAAAAAAAAAAAFQAAAAUEAAABUAAAAAAAAAAAAAAAAAAAAAAABUAAUEAAAAAAAAAAAAAAAAABUAAAAAAABUUEAAAAFQAAAAAAAAAAAAAAAAAAAVAAAAAAAAUBAAAAAAAAAAAAAABQQAAAAFBAUEAAAAVAAAAAAVAAAAAAAAAAAAAAABUBUAAFBAAAAAAAAVAAAAAAFQAAAAAAAAAAAFBAABUAAAVAFEABagAAAACoApqAAAKgAAAAAAAAAAAqACoAAAAAh//9k=);
	background-size: cover;
}


h2{
	background-color: floralwhite;
	border-color: lightpink;
	border-style: double;
}